
.main__header {
  width: 100vw;
  height: calc(100vh - 4.8rem);
  display: grid;
  place-items: center;
  margin-top: 4.8rem;
}

.main__header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 9.6rem
}

.main__header-left {
  margin-top: -4.8rem;
}

.main__header-left h4 {
  margin-bottom: 1.6rem;
  color: var(--secondary-color);
  font-weight: 400;
}

.main__header-left p {
  margin: 1.6rem 0 5.6rem;
  font-size: 1.76rem;
}


.main__header-right {
  display: grid;
  place-items: center;
  position: relative;
}

.main__header-circle {
  width: 40rem;
  height: 40rem;
  background: linear-gradient(75deg, var(--secondary-color), transparent);
  border-radius: 50%;
  position: absolute;
  transition: var(--transition);
}

.main__header-image {
  position: relative;
}

.main__header-right:hover .main__header-circle {
  filter: blur(1.5rem);
}
